@import 'bootstrap/dist/css/bootstrap';

.navbar {

    background-color: green !important; 
    height: 55px;
    }

.nav-link {
    color: white !important;
}

#logo {
    float: left;
    font-size: 1.2cm;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 28px;
}

.jumbotron {
    background-image: asset-url('bike.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;

}


html,body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}
